section{
    height: 100vh;
    grid-template-rows:1fr 1fr;
    padding: 10px 0;
    display: grid;
}

.about{
    background-color: white;
    display: flex;
    flex-direction: row;
    padding: 0 80px;
}

.detail-me{
    flex:1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin: 13px;
}

.detail-me>p{
    width: 100%;
}

.pic-about{
    flex:1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
}

.pic-about>img{
    width: 250px;
    height: 250px;
}

.portfolio{
    display: grid;
    background-color: #383838;
    grid-template-rows: 1fr 5fr;
    padding: 0 80px;
    height: 102%;
}

.portfolio>h1{
    color: white;
} 

.pic-portfolio{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 100%;
    gap: 13px;
    align-items: center;
    justify-content: space-around;
}

.item-pic{
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
}


.item-pic>img{
    width: 270px;
    border-radius: 13px;
}

.item-pic>b{
    padding: 13px;
}


@media screen and (max-width:992px){
    section{
        height: 162vh;
    }
    .about{
        flex-direction: column;
    }
    .detail-me{
        justify-content: center;
        align-items: center;
    }
    .portfolio{
        grid-template-rows: 1fr 11fr;
        height: 95vh;
    }
    .pic-portfolio{
        grid-template-columns:  1fr 1fr;
        justify-content: space-around;
        height: 82vh;
        row-gap: 0;
    }
}

@media screen and (max-width:768px){
    section{
        height: 240vh;
    }
    .pic-portfolio{
        grid-template-columns:  1fr;
    }
    .portfolio{
        height: 165vh;
    }
}

@media screen and (max-width:576px){
    section{
        height: 252vh;
    }
    .portfolio{
        height: 169vh;
    }
}

@media screen and (max-width:100px){
    
}