body{
    margin: 0;
    width: 100%;
    height: 100vh;
}

.page{
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

header{
    height: 100vh;
    background-color: #7DB9B6;
    padding: 0 80px;
    display: grid;
}

nav{
    height: 80px;
    color: white;
    width: 100%;
    background-color: #383838;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
    align-items: center;
    position: fixed;
}

.dropdown{
    display: none;
}

nav>a{
    color: white;
    border: 1px solid transparent;
    height: 70px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav>a:nth-child(n+2):hover{
    border-bottom: 1px solid white;
    background-color: black;
}

.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    font-size: 18px;
}

.title>h1{
    text-align: center;
    margin: 0;
    color: white;
    border-bottom:10px ;
}

.title>span{
    text-align: center;
    margin: 0;
    color:white;
}

@media screen and (max-width:992px){
    header{
        grid-template-rows: 1fr 4fr;
    }
    nav{
        display: none;
    } 
    .dropdown{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    .dropdown>div:first-child{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 13px 0;
        align-items: center;
    }
    .hamburger{
        position: fixed;
        right: 80px;
    }
    .dropdown>div>.hamburger>div{
        width: 35px;
        height: 5px;
        background-color: rgba(56,56,56,0.8);
        margin: 6px 0;
    }
    .dropdown>.link-dropdown>a:first-child{
        display: none;
    }
    .dropdown>.link-dropdown{
        display: flex;
        flex-direction: column;
        background-color: rgba(56,56,56,0.5);
        width: 350px;
        position: fixed; 
        top: 80px;
    }
    .dropdown>.link-dropdown>a{
        color:white;
        text-decoration: none;
        cursor: pointer;
        height: 100%;
        padding: 13px; 
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .dropdown>.link-dropdown>a:hover{
       background-color: #383838;
       border-bottom: 1px solid white;
    }
    .title{
        align-items: center;
    }
}

@media screen and (max-width:768px){
    .dropdown{
        width: 100%;
        align-items: center;
    }
    .dropdown>.link-dropdown{
        width: 100%;
        height: 91vh;
    }
}





